@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Exo+2|Tinos');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
html {
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  background-color: white !important;
}
.bag{
  overflow-x: hidden !important;
}
.header{
  background: url(img/MainFoto.jpg);
  background-size: cover;
  height: 90vh;
}
.navbar-brand{
  font-size: 30px;
  font-family: 'Cinzel Decorative', cursive;
}
.navbar-brand span{
  color: gold;
}
.nav-link{
  font-family: 'Tinos', serif;
  font-size: 20px;
  margin: 8px;
}
.HeadTitle{
  font-family: 'Tinos', serif;
  letter-spacing: 3px;
  font-weight: 500;
}
.HeadText{
  font-family: 'PT Serif', serif;
  font-size: 30px;
}
.textInfo{
  font-family: 'Exo 2', sans-serif;
  font-size: 17px;
}
@media(max-width: 1200px){
  .HeadTitle{
    font-size: 27px;
    letter-spacing: 1px;
  }
  nav{
    background-color: rgba(255, 255, 255, 0.911);
  }
  #Title{
    background-color: rgba(255, 255, 255, 0.911);
  }
  #TextHead{
    font-size: 15px;
  }
}
.dbl-border {
  position: relative;
  display: table;
  margin: 30px auto;
}
.dbl-border img {display: block;}
.dbl-border:before,
.dbl-border:after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 100%;
  border: 2px solid #40D8EC;
}
.dbl-border:before {
  top: -15px;
  left: -15px;
}
.dbl-border:after {
  right: -15px;
  bottom: -15px;
}
.image-wrapper {
  position: relative;
  z-index: 2;
  padding: 5px;
  background: white;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1);
}
.fonPlus{
  background: url(img/fonPlus.jpg);
  background-size: cover;
  height: 90vh;
}
.Block{
  background-color: rgba(255, 255, 255, 0.884);
  margin: auto;
  padding: 40px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}
.spisok{
  font-size: 19px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
}
.FotoForma{
  background-size: cover;
  margin: auto;
}
