@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Exo+2|Tinos');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
body{
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
    background-color: white !important;
}
.bag{
    overflow-x: hidden !important;
}
.header{
    background: url(img/MainFoto.jpg);
    background-size: cover;
    height: 90vh;
}
.navbar-brand{
    font-size: 30px;
    font-family: 'Cinzel Decorative', cursive;
}
.navbar-brand span{
    color: gold;
}
.nav-link{
    font-family: 'Tinos', serif;
    font-size: 20px;
    margin: 8px;
}
.HeadText{
    font-family: 'PT Serif', serif;
    font-size: 30px;
}
.discont{
    font-family: 'Exo 2', sans-serif;
}
.foto{
    background-size: cover;
    width: 80%;
    border-radius: 50px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.full{
    animation: full .8s cubic-bezier(0.645, 0.045, 0.355, 1) forwards 0.4s;
}
/* Анимация появления коллектива */
@keyframes full{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
